<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Main view</title>
        <meta name="dj4e" content="649adc59afdef2a8b9e943f94a04b02f"> 
    </head>
    <body>
        <p>649adc59</p>
        <ul>
            <li><p><a href="/polls">A Polls Application</a></p></li>
            <li><p><a href="/hello">Test the session</a></p></li>
            <li><p><a href="/autos">Autos CRUD</a></p></li>
            <li><p><a href="/cats">Cats CRUD</a></p></li>
        </ul>
    </body>
</html>